/* Colores de fondo de la web*/
header{
    /*Agg backgruond color green dog*/
    text-align: center;
}

h1{
    color: #00B4D8;
}

/* ------------------------------------------------------ */

body{
    background-color: #F5F7F6;;
}


h2{
    color: rgba(0, 0, 0, 0.605);
    text-align: center;
}

/* ------------------------------------------------------ */
footer{
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/086/563/large_2x/artificial-grass-texture-banner-free-photo.jpg);
    background-size: cover;
    background-position: 100vh;

    text-align: center;
    height: 150px;
    display: flex; /*activa el sistema flexible*/
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
}

h3{
    color: bisque;
}
/* estilo de la imagen de los perros */
body {
  background-image: url('BannerHeaderpng.png');
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat; /*evita que se repita */
  align-items: center;
  height: 100vh;

  
}
/* imagen parte de abajo

/* ------------------------------------------------------ */

/* encabezado del sitio web */
*{
    margin: 0;
    padding: 0; /* elima el espacio en blanco de encabezado al lado izquierdo  y 
    derecho */
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    width: 100k;
    background: #00B4D8;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header .content{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo-img {
    height: 80px;
    width: auto;
    margin-right: 10px;
}
/* estilo del texto del encabezado del logo y el texto */
header h1 { 
    margin: 0 0 0 20px; /* espacio entre logo y texto */
    flex: 1;
    text-align: center;
}
/* estilo del logo */
.logo-img {
    height: 136px; /* agranda un poco el logo */
    width: auto;
    margin-right: 20px;
}

/* estilo del texto del servicio,Galeria,ect */
nav {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

nav a {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-weight: bold;
    border-radius: 5px;

    transition: all 1s;

}


nav a:hover{
    background: white;
    color: #00B4D8;
}

.half {
    width: 30%;
    float: left;
    text-align: center;

}

.half img{
   width: 100%; 
   height: auto;
   
}

.half h1{
    margin-top: 300px;
    line-height: 50px;
}
/*logo de encabezado veterinaria Masatepe */
.logo {
  font-size: 30px;   /* Tamaño de letra */
  font-weight: bold;
  color: white;      /* Texto en blanco para contraste */
  text-align: left;  /* Alineado a la izquierda */
 
}
/*  servicios parte de abajo          */

.servicios{
    text-align: center;
    margin: 50px 0; /* espacio arriba y abajo */
}

.servicios h2{
    font-size: 2rem;
    margin-bottom: 10px; /* espacio entre el titulo y los cuadritos */
    color: black;
    font-weight: bold;
   
}
.servicios {
  display: flex;              /* coloca los íconos en fila */
  justify-content: center;    /* centra horizontalmente */
  gap: 100px;                  /* espacio entre tarjetas */
  margin-top: 700px;           /* empuja hacia abajo */
  margin-bottom: 50px;        /* espacio antes del footer */
}

.servicio {
  background-color: #00B4D8;  /* fondo azul de los cuadritos */
  color: white;               /* texto blanco de los cuadritos*/
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  width: 150px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.servicio img {
  width: 60px;
  margin-bottom: 10px;
}